@import "tailwindcss";

@theme{
    /*Colors*/
    --color-dark: var(--dark);
    --color-white: var(--white);
    --color-blue: var(--blue);
    --color-green: var(--green);

    /*Fonts*/
    --font-primary: var(--primary-font);
    --font-secondary: var(--secondary-font);

    /*Cursor*/
    --cursor-normal: url('/src/assets/cursor.png'), auto;
    --cursor-hover: url('/src/assets/hover.png'), pointer;
    --cursor-question: url('/src/assets/question.png'), help;
}