---
import Curiosity from "@components/Curiosity.astro"
---

<section class="min-h-screen flex flex-col items-center justify-center gap-16 bg-gradient-to-t from-transparent to-green/20 p-4 md:p-36">
    <h2 class="text-8xl uppercase font-primary font-bold">Curiosidad del día</h2>

    <Curiosity title="Tu cerebro genera suficiente electricidad como para encender una bombilla pequeña" image="/curiosidad-1.webp" date="17 Mayo 2025" isPrincipal={true}>
        El cerebro humano produce unos 20 vatios de energía cuando está activo, ¡suficiente para encender una bombilla LED! Además, aunque representa solo el 2% del peso corporal, consume alrededor del 20% de toda la energía del cuerpo. Esto demuestra lo increíblemente activo y complejo que es el órgano que usamos para pensar, sentir, recordar y tomar decisiones.
    </Curiosity>
</section>